# Support asec containers getting mounted
allow file_type rootfs:filesystem associate;

# Filesystems
type exfat, sdcard_type, fs_type, mlstrustedobject;
type ntfs, sdcard_type, fs_type, mlstrustedobject;
